<div class="login">
    <tui-island>
            <div class="login__header">
                <img src="../../shared/assets/logo.svg" alt="Main Logo">
    
                <div class="login__divider"></div>
        
                <span class="login__title">Python Тренинг</span>
    
                <div class="login__divider"></div>
        
                <span class="login__title">{{isRegister ? 'Регистрация' : 'Авторизация'}}</span>
            </div>

            <div class="login__content">
                <div class="login__error-message">{{errorMessage}}</div>

                @if (!isRegister) {
                    <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                        <tui-input class="login__control" formControlName="email">
                            Электронная почта

                            <input tuiTextfield type="email" />
                        </tui-input>

                        <tui-input-password class="login__control" formControlName="password" tuiTextfieldSize="s">
                            Ваш пароль
                            <input
                                placeholder="Make it secure!"
                                tuiTextfield
                            />
                        </tui-input-password>
    
                        <div class="login__footer">
                            <button type="submit" [disabled]="!loginForm.valid" tuiButton>
                                Войти
                            </button>

                            <button type="button" tuiButton appearance="secondary" (click)="register()">
                                Регистрация
                            </button>
                        </div>
                    </form>
                }

                @if (isRegister) {
                    <form class="login__form" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
                        <tui-input class="login__control" formControlName="email">
                            Электронная почта

                            <input tuiTextfield type="email" />
                        </tui-input>

                        <tui-input class="login__control" formControlName="name">
                            ФИО

                            <input tuiTextfield />
                        </tui-input>

                        <tui-input-password class="login__control" formControlName="password" tuiTextfieldSize="s">
                            Ваш пароль

                            <input placeholder="Make it secure!" tuiTextfield/>
                        </tui-input-password>
    
                        <div class="login__footer">
                            <button type="submit" [disabled]="!registerForm.valid" tuiButton>
                                Зарегистрироваться
                            </button>

                            <button type="button" tuiButton appearance="secondary" (click)="login()">
                                Авторизация
                            </button>
                        </div>
                    </form>
                }
            </div>
    </tui-island>
</div>