@if (userInfo) {
    <tui-hosted-dropdown [content]="dropdownContent" tuiDropdownAlign="right">
        <user-profile [name]="userInfo.name" [email]="userInfo.email"></user-profile>
    </tui-hosted-dropdown>
}

@if (!userInfo) {
    <button
        tuiButton
        type="button"
        appearance="secondary"
        size="s"
        (click)="logout($event)"
    >
        Выйти из аккаунта
    </button>
}


    
<ng-template #dropdownContent>
    <tui-data-list role="menu">
        <a role="menuitemradio" tuiOption (click)="logout($event)">Выйти из аккаунта</a>
    </tui-data-list>
</ng-template>
