@use '../../shared/assets/styles/colors.scss';

.tasks-menu {
    height: 100%;
    overflow-y: auto;
    margin-top: 12px;
}

.task-group {
    height: 48px;
    padding: 0 12px;

    display: flex;
    align-items: center;
    gap: 4px;

    transition: background-color .3s;
    cursor: pointer;

    &:hover, &._expanded {
        background-color: rgba(0 0 0 / .04);
    }

    // &:hover &__toolbar {
    //     visibility: visible;
    // }

    &__title {
        flex: 1;

        font-weight: 600;
        font-size: 16px;
    }

    &__chevron {
        transform: rotate(-90deg);
        transition: transform .3s;

        &._expanded {
            transform: rotate(0);
        }
    }

    // &__toolbar {
    //     visibility: hidden;
    // }
}

.task-item {
    &[aria-checked=true] {
        background-color: rgba(0 0 0 / .04);
    }

    &:hover &__button {
        display: inline-flex;
    }

    &__button {
        display: none;
    }
}