<div class="task-page">
    <div class="task-page__inner">
        <h2>Раздел: {{taskGroup?.name}}</h2>

        <div class="task-page__header">
            <div class="task-page__name">
                <h1>Задача: {{task?.name}}</h1>
    
                <tui-badge
                    [status]="statusBadgeConfig?.status ?? 'info'"
                    [value]="statusBadgeConfig?.text"
                >
                    @if (statusBadgeConfig?.icon) {
                        <tui-svg [src]="statusBadgeConfig?.icon"></tui-svg>
                    }
                </tui-badge>
            </div>
            

            @if (_isAdmin && task) {
                <button
                    icon="tuiIconEdit"
                    appearance="secondary"
                    tuiIconButton
                    type="button"
                    size="m"
                    (click)="_editTask(task.id)"
                ></button>
            }
        </div>

        @if (_isAdmin) {
            <tui-tabs class="task-page__tabs">
                <button tuiTab (click)="_onTabClick('condition')">Условие</button>
    
                <button tuiTab (click)="_onTabClick('solutions')">Решения</button>
            </tui-tabs>
    
            @if (_activeTab === 'condition') {
                <ng-container *ngTemplateOutlet="taskContent"></ng-container>
            } @else {
                <task-solutions [task]="task"></task-solutions>
            }
        } @else {
            <ng-container *ngTemplateOutlet="taskContent"></ng-container>
        }    
    </div>
</div>

<ng-template #taskContent>
    <div [innerHtml]="descriptionHtml"></div>

    <div class="task-page__divider"></div>

    <h2>Решение:</h2>

    <div class="task-page__code task-code">
        <div class="task-code__editor">
            <div style="height: 100%">
                <ngs-code-editor
                    style="height: 100%"
                    [theme]="theme"
                    [codeModel]="model"
                    [options]="options"
                    (valueChanged)="_onCodeChanged($event)"
                ></ngs-code-editor>
            </div>
        </div>

        <div>
            <div class="task-code__title">Входные данные:</div>

            <form [formGroup]="dataForm">
                <tui-textarea [expandable]="true" formControlName="inputData">
                    Type a text
                </tui-textarea>
            </form>
        </div>

        @if (result || error) {
            <div>
                <div class="task-code__title">Результат:</div>

                @if (result !== undefined) {
                    <tui-notification [status]="solved ? 'success' : 'info'" size="m">
                        <div class="task-code__output">
                            {{result}}
                        </div>
                    </tui-notification>
                } @else {
                    <tui-notification status="error" icon="" size="m">
                        <div class="task-code__output">
                            {{error}}
                        </div>
                    </tui-notification>
                }
            </div>
        }

        <div class="task-code__buttons">
            <tui-loader
                [inheritColor]="true"
                [overlay]="true"
                [showLoader]="runLoading"
            >
                <button tuiButton appearance="secondary" size="m" (click)="_runCode()">
                    Запустить код
                </button>
            </tui-loader>

            <tui-loader
                [inheritColor]="true"
                [overlay]="true"
                [showLoader]="testLoading"
            >
                <button tuiButton size="m" (click)="_testCode()">
                    Отправить решение
                </button>
            </tui-loader>
        </div>
    </div>
</ng-template>
