@if (status && status !== 'not_started') {
    @if (solution) {
        <div class="task-solution__editor-container">
            <ngx-monaco-editor
                style="height: 100%"
                class="task-code__editor"
                [options]="editorOptions"
                [ngModel]="solution"
            ></ngx-monaco-editor>
        </div>
    }

    @if (output || status === 'done') {
        @if (status === 'done') {
            <tui-notification status='success' size="m">
                Задача решена!
            </tui-notification>
        } @else if (output?.output_data) {
            <tui-notification status="info" icon="" size="m">
                {{output?.output_data}}
            </tui-notification>
        } @else if (output?.error) {
            <tui-notification status="error" icon="" size="m">
                {{output?.error}}

                @if (output?.data) {
                    {{_stringify(output?.data)}}
                }
            </tui-notification>
        }
    }
} @else {
    Решения нет. Ай-яй
}