@import './shared/assets/styles/colors.scss';

html, body { height: 100%; }
body { margin: 0; font-family: "Manrope", -apple-system, "BlinkMacSystemFont", system-ui, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif; }

h2 {
    font-weight: 400;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $gray; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $gray; 
}

* {
    box-sizing: border-box;
}
