@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import './shared/assets/styles/colors.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $gray; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $gray; 
}
